<launch>
	<arg name="model" default="$(find seekur_jr_description)/robots/seekur_jr.urdf.xacro"/>
	<param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" />
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />
	<arg name="gui" default="True" />
	<param name="use_gui" value="$(arg gui)"/>
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find seekur_jr_description)/rviz/urdf.rviz" required="true" />
</launch>
