<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <property name="pi" value="3.1415926535897931" />
  <property name="wheel_z_offset" value="0.1" />

  <link name="base_link" >
    <visual>    
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${-pi/2}" />
      <geometry>
        <mesh filename="package://seekur_jr_description/meshes/SeekurJr.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="Gray"/>
    </visual>
    <collision>    
      <origin xyz="0 0 0" rpy="${pi/2} 0 ${-pi/2}" />
      <geometry>
        <mesh filename="package://seekur_jr_description/meshes/SeekurJr.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="100" />
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="1" ixy="0" ixz="0" 
	       iyy="1" iyz="0"
               izz="1" />
    </inertial>
  </link>

  <joint name="seekur_base_to_top_joint" type="fixed">
      <origin xyz="0 0 0.406" rpy="0 0 0" /> <!-- 386 + 20 plaque -->
      <parent link="base_link"/>
      <child link="seekur_top_link"/>
  </joint>

  <link name="seekur_top_link" >
  </link>


  <!--<joint name="wheel_joint" type="continuous">
      <axis xyz="0 1 0" />
      <limit effort="7" velocity="15"/>
      <safety_controller  k_velocity="10" />
      <dynamics damping="1.0" friction="0.0" />
      <origin xyz="0 ${wheel_z_offset} 0" rpy="0 0 0" />
      <parent link="base_link"/>
      <child link="wheel_link"/>
  </joint>

  <link name="wheel_link">
      <inertial>
        <mass value="0.44036" />
        <origin xyz="0 0 0" />
        <inertia  ixx="0.012411765597" ixy="-0.000711733678" ixz="0.00050272983"
                  iyy="0.015218160428" iyz="-0.000004273467" izz="0.011763977943" />
      </inertial>
  </link>

  <transmission name="wheel_tran">
    <type>transmission_interface/SimpleTransmission</type>
    <joint name="wheel_joint"/>
    <actuator name="wheel_motor">
      <hardwareInterface>EffortJointInterface</hardwareInterface>
      <mechanicalReduction>1</mechanicalReduction>
    </actuator>
  </transmission>-->


</robot>
