<?xml version="1.0"?>
<robot name="seekur_jr" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

  <!-- Import all common definitions -->
  <xacro:include filename="$(find seekur_jr_description)/urdf/common.xacro" />
  <!-- Import all Gazebo-customization elements, including Gazebo colors -->
  <xacro:include filename="$(find seekur_jr_description)/robots/seekur_jr_with_arm.gazebo" />


  <!-- Used for fixing robot to Gazebo 'base_link' -->
<!--  <link name="world"/>

  <joint name="fixed" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 2.0"/>
  </joint>-->



  <joint name="base_to_arm" type="fixed">
    <parent link="seekur_top_link"/>
    <child link="arm_base_link"/>
    <origin xyz="0.3525 0 0"/> <!-- 0.425/2 + ~0.14 -->
  </joint>


  <xacro:include filename="$(find seekur_jr_description)/urdf/seekur_jr.xacro" />
  <xacro:include filename="$(find seekur_jr_description)/urdf/sensors/sensors.xacro" />
  <xacro:include filename="$(find terabot_description)/urdf/terabot.xacro" />
</robot>
